service: shop-reporter

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: ${self:custom.deployment.myRegion.${self:custom.deployment.myStage}}
  myProfile: ${self:custom.deployment.myProfile.${self:custom.deployment.myStage}}

custom:
  deployment: ${file(config/deployment.yml):deployment}
  
functions:
  getAllPerfume:
    handler: src/getAllPerfume/function.invoke
    events:
      - http:
          path: perfume
          method: GET